body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-bg {
    background-image: url("./Images/form-bg.jpg");
    background-size: cover;
    height: 100%;
}

.media-signup,
.media-signin {
    background-color: darkcyan;
    opacity: 0.85;
}

.form-color {
    color: white;
}

.div-text-center {
    text-align: center;
}

.media-form-body {
    margin: auto;
}